In [1]:
%%capture
%run Data_Cleaning_and_EDA.ipynb
from sklearn.ensemble import BaggingClassifier

In [2]:
train_data.head(3)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,C,Q,S,Dr,Master,Miss,Mr,Mrs,other,Total_Fam
0,0,3,1,-0.557420,0.432793,-0.473674,-0.502445,0,0,1,0,0,0,1,0,0,0.059160
1,1,1,0,0.649410,0.432793,-0.473674,0.786845,1,0,0,0,0,0,0,1,0,0.059160
2,1,3,0,-0.255712,-0.474545,-0.473674,-0.488854,0,0,1,0,0,1,0,0,0,-0.560975

In [3]:
test_data.head(3)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,C,Q,S,Dr,Master,Miss,Mr,Mrs,other,Total_Fam
0,892,3,1,0.373537,-0.499470,-0.400248,-0.497413,0,1,0,0,0,0,1,0,0,-0.553443
1,893,3,0,1.338307,0.616992,-0.400248,-0.512278,0,0,1,0,0,0,0,1,0,0.105643
2,894,2,1,2.496032,-0.499470,-0.400248,-0.464100,0,1,0,0,0,0,1,0,0,-0.553443

In [4]:
# Turinging our training and test sets to matrices to fit in our models
X_train = train_data.drop(['Survived', 'Miss', 'Mr', 'Mrs', 'other'], axis=1).to_numpy()
X_test = test_data.drop(['Miss', 'Mr', 'Mrs', 'other', 'PassengerId'], axis=1).to_numpy()
X_train2 = train_data.drop(['Survived'], axis=1).to_numpy()
X_test2 = test_data.drop(['PassengerId'], axis=1).to_numpy()
Y_train = train_data['Survived'].to_numpy()

In [5]:
# Creating our Logistic Model
logistic_model = LogisticRegression(random_state=42).fit(X_train2, Y_train)
print("Logistic R: ", np.mean(cross_val_score(logistic_model, X_train2, Y_train, cv=10)))
logistic_predictions = logistic_model.predict(X_test2)

Logistic R:  0.8283021223470662

In [6]:
# Creating our Random Forest Model
RF_model = RandomForestClassifier(n_estimators=300, bootstrap=True, max_depth=3, max_features=7, criterion='entropy', max_samples=0.8, random_state=42).fit(X_train2, Y_train)
print("Random F: ", np.mean(cross_val_score(RF_model, X_train2, Y_train, cv=10)))
Random_Forest_predictions = RF_model.predict(X_test2)

Random F:  0.8327840199750313

In [7]:
# Creating our AdaBoost Model using decision trees
Ada_Boost_model = AdaBoostClassifier(base_estimator=tree.DecisionTreeClassifier(max_depth=3), n_estimators=300, algorithm='SAMME', random_state=42).fit(X_train2, Y_train)
print("Ada B: ", np.mean(cross_val_score(Ada_Boost_model, X_train2, Y_train, cv=10)))
Ada_Boost_predictions = Ada_Boost_model.predict(X_test2)

Ada B:  0.8350686641697879

In [8]:
# Creating our Bagging Model using K-Neighbors 
KNeighbors_model = BaggingClassifier(KNeighborsClassifier(n_neighbors=7, leaf_size=3, p=1), max_samples=0.5, max_features=0.5, n_estimators=200, random_state=42).fit(X_train2, Y_train)
print("KNeighbors: ", np.mean(cross_val_score(KNeighbors_model, X_train2, Y_train, cv=10)))
KNeighbors_predictions = KNeighbors_model.predict(X_test2)

KNeighbors:  0.8305493133583021

In [9]:
# Creating our Multiple Regression Model
Multiple_Reg_model = LinearRegression().fit(X_train2, Y_train)
Multiple_Reg_predictions = Multiple_Reg_model.predict(X_train2)
Multiple_Reg_predictions = [1 if x>=0.5 else 0 for x in Multiple_Reg_predictions]
print("Multiple Linear R: ", np.mean(cross_val_score(Multiple_Reg_model, X_train2, Y_train, cv=10)))
print("Multiple Linear R train: ", sklearn.metrics.accuracy_score(Multiple_Reg_predictions, train_data['Survived'].to_numpy()))

Multiple_Reg_predictions_test = Multiple_Reg_model.predict(X_test2)
Multiple_Reg_predictions_test = [1 if x>=0.5 else 0 for x in Multiple_Reg_predictions_test]

Multiple Linear R:  0.4026925688214001
Multiple Linear R train:  0.8327721661054994

In [10]:
# Creating the predictions dataframes
predictionsdf_LR = pd.DataFrame(data={'PassengerId':test_data['PassengerId'], 'Survived': logistic_predictions})
predictionsdf_RF = pd.DataFrame(data={'PassengerId':test_data['PassengerId'], 'Survived': Random_Forest_predictions})
predictionsdf_AB = pd.DataFrame(data={'PassengerId':test_data['PassengerId'], 'Survived': Ada_Boost_predictions})
predictionsdf_KN = pd.DataFrame(data={'PassengerId':test_data['PassengerId'], 'Survived': KNeighbors_predictions})
predictionsdf_MR = pd.DataFrame(data={'PassengerId':test_data['PassengerId'], 'Survived': Multiple_Reg_predictions_test})

In [11]:
# exporting my csv file
# predictionsdf_LR.to_csv('pred5.csv', index=False)